<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="com.learnautomation">
  <test  name="Test1">
    <classes>
    	 <class name="com.learnautomation.testcases.LOGIN"/>
    	 <class name="com.learnautomation.pages.LoginPage"/>

    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->




